@font-face {
    font-family: 'Blackout';
    src: url('../fonts/Blackout\ Two\ AM.ttf') format('truetype');
}

:root {
    --primary-color: #352F44;
    --secondary-color: #5C5470;
    --hyperlink-color: #FAF0E6;
    --primary-dark: #25222C;
    --accent-gray: #B9B4C7;
    --transparent:  rgba(255,255,255,0)
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    height: calc(100vh - 50px);
}

/* IMAGE SLIDER STYLING */

#container1 {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
}

#img-slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(30px);
    transform: scale(1.5);
    z-index: -1;
}

.slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 15px 2px #352F44;
}

.prev-button,.next-button {
    user-select: none;
    color: hsl(0, 0%, 80%);
    z-index: 1;
    top: 50%;
    position: absolute;
    cursor: pointer;
    font-size: 28px;
    padding-left:1rem;
    padding-right:1rem;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 0px 2px rgba(45, 45, 45, 0.25);
    border-radius: 999px;
}

.prev-button:hover,.next-button:hover {
    color: hsl(0, 0%, 70%);
    background-color: var(--primary-color);
}

.prev-button:active,.next-button:active {
    scale: 0.9;
}

.prev-button {
    margin-left: 20px;
}

.next-button {
    right: 0;
    margin-right: 20px;
}

/* Styling Advertisment Right Side */

#container2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--primary-dark);
}

#ad-header,#description-box {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color);
}

.title-box {
    display: flex;
    justify-content: space-between;
}

.title {
    color: var(--accent-gray);
    margin: 0;
}

.bi-heart,.bi-heart-fill {
    color: var(--hyperlink-color);
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
}


h2 {
    color: var(--accent-gray);
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

#description-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#description-scroll {
    height: calc(100%);
    overflow: scroll;
    flex-grow: 1;
    height: 0px;
    margin-bottom: 10px;
}

.description {
    font-weight: 350;
    margin-bottom: 15px;
}

p {
    color: var(--accent-gray);
    margin: 0;
}
.location {
    font-weight: bold;
    align-self: center;
    justify-self: end;
}   

.small-text {
    font-size: 0.8rem;
    color: var(--secondary-color);
}

.user-box {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 10px;
}

#profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 999px;
    object-fit: cover;
    box-shadow: 0px 0px 0px 3px rgba(150, 150, 150, 0.25);
    margin-right: 10px;
}

#seller-name {
    color: var(--hyperlink-color);
    font-size: 1.2rem;
    font-weight: 600;
}

#seller-name:hover {
    text-decoration: underline;
    font-weight: 700
}