:root {
  --primary-color: #352F44;
  --secondary-color: #5C5470;
  --accent-gray: #B9B4C7;
  --transparent:  rgba(255,255,255,0)
}

/* Divisão da página com grid e configurações iniciais */
body {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 30% 35% 30%;
  min-height: 100vh;
  background-color: var(--primary-color);
}

/* Divisão do main com grid e configurações iniciais */
main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content:normal;
  align-items: center;
  background-color: white;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 15% 70% 15%;
}

/* Não tenho uma conta */
div.semconta {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 1.4em;
  display:block;
}

div.semconta a {
  color: white;
  text-decoration: none;
  padding: 0.3em;
  border-radius: 5px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.semconta a:hover {
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
  font-size: 1.03em;
}

/* Email e password */

form {
  grid-column: 2;
  grid-row: 2;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

div > i {
  color: var(--primary-color);
  margin-bottom: 0.3em;
}

input {
  margin-top: 0.5em;
  background: #F2F4F5;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
}

div.email {
  margin-bottom: 1em;
}

div.password {
  margin-bottom: 1em;
}

/* Botão register */

button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.8em;
  margin-top: 1em;
  border-radius: 5px;
  border: none;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
  font-size: 0.83em;
}

/* Página Inicial */
body > main > h3 {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.3em;
  border-radius: 5px;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 a:hover {
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
  font-size: 1.03em;
}
