@font-face {
    font-family: 'Blackout';
    src: url('../fonts/Blackout\ Two\ AM.ttf') format('truetype');
}
  
:root {
    --primary-color: #352F44;
    --primary-dark: #25222C;
    --secondary-color: #5C5470;
    --hyperlink-color: #FAF0E6;
    --accent-gray: #B9B4C7;
    --light-gray: #EEEEEE;
    --transparent:  rgba(255,255,255,0)
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    padding-top:50px;
    font-family: Inter;
    margin: 0;
    background-color: var(--accent-gray);
}

.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0%;
    display: flex;
    background-color: var(--primary-color);
    z-index: 999;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 50px 0px 50px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-display {
    border: 3px solid var(--secondary-color);
    border-radius: 9999px;
    outline: none;
    background-color: var(--secondary-color);
    color: var(--hyperlink-color);
    padding: 3px 7px 5px 7px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.searchbar {
    position: absolute;
    display: none;
    width: 40%;
    padding: 10px;
    border-radius: 100px;
    background-color: var(--light-gray);
    border: 2px solid var(--primary-color);
    top: 60px;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%);
    z-index: 1;

}

.searchbar input {
    flex-grow: 1;
    font-weight: 500;
    min-width: 0px;
    border: none;
    outline: none;
    background: none;
}

.searchbar button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.searchbar button i {
    font-size: 20px;
}

.searchbarOpen {
    display: flex;
    animation: openSearchbar 0.5s ease forwards;
}

.navbar-right {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar-right li {
    transition: all 0.2s ease;
    user-select: none;
}

.navbar-right li:active, .search-display:active {
    transform: scale(0.8);
}

.navbar-right a {
    color: var(--hyperlink-color);
    background-color: var(--secondary-color);
    box-sizing: border-box;
    border: 3px solid var(--secondary-color);;
    border-radius: 9999px;
    padding: 3px 10px 3px 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease;
}

.navbar-right a:hover, .search-display:hover {
    color: var(--primary-color);
    background-image: linear-gradient(to bottom, var(--hyperlink-color), var(--secondary-color));
}

#pfp {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
}

li,a {
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

.logo {
    font-family: 'Blackout';
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 45px;
}

.menuicons {
    position: relative;
}

#menulist,#menuclosed {
    position: absolute;
    cursor: pointer;
    transform: translateX(-50%) translateY(-50%);
    width: 40px;
    transition: all 0.5s ease;
}

#menulist {
    z-index: 1;
}

.dissapear {
    opacity: 0.25;
    scale: 0.5;
}

.menu {
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50px;
    left: 0px;
    width: 200px;
    height: calc(100vh - 50px);
    background-color: var(--primary-dark);
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: 999;
    box-shadow: none;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

.menu-item a, .logout-wrapper a {
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.logout-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
}



.open {
    transform: translateX(0);
}

/* Searchbar Open Animation */

@keyframes openSearchbar {
    0% {
        opacity: 0;
        transform: translateY(-60px) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

@media screen and (max-width: 900px) {
    body {
        padding-top: 95px;
    }
    main {
        height: calc(100vh - 95px);
    }

    .navbar {
        height: 95px;
        padding-bottom: 10px;
        box-sizing: border-box;
    }

    #searchDisplay {
        display: none;
    }
    
    .navbar-inner {
        flex-direction: column;
        padding: 0;
    }

    .searchbar {
        top: 100px;
    }

    .menu {
        top: 95px;
        height: calc(100vh - 95px);
    }
  }