@font-face {
    font-family: 'Blackout';
    src: url('../fonts/Blackout\ Two\ AM.ttf') format('truetype');
}

:root {
    --primary-color: #352F44;
    --secondary-color: #5C5470;
    --hyperlink-color: #FAF0E6;
    --accent-gray: #B9B4C7;
    --transparent:  rgba(255,255,255,0)
}

/* Profile-left */

main {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: white;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    border-right: 1px solid var(--accent-gray);
}

.profile-left img#pfp {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

body > main > div.profile-left > p {
    margin: 0;
}




.profile-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    border-right: 1px solid var(--accent-gray);
}