@font-face {
    font-family: 'Blackout';
    src: url('../fonts/Blackout\ Two\ AM.ttf') format('truetype');
}

:root {
    --primary-color: #352F44;
    --secondary-color: #5C5470;
    --hyperlink-color: #FAF0E6;
    --accent-gray: #B9B4C7;
    --transparent:  rgba(255,255,255,0)
}

/* Profile-left */


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: auto;
    height: calc(100vh - 50px);
}

.profile-wrapper {

    width: 80%;
    height: 80%;
    min-height: 350px;
    background-color: white;
    box-shadow: 0px 0px 15px 1px var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 1;
    border-right: 1px solid var(--accent-gray);
}

.pfp-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    overflow: hidden;
}

.pfp-wrapper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 999px;
}

.edit {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.profile-left h1 {
    margin-bottom: 5px;
}

.profile-left p {
    margin-top: 0;
}

.profile-right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2;
    border-right: 1px solid var(--accent-gray);
}

h2 {
    align-self: center;
    color: var(--primary-color);
}

.listings {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.listing {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--primary-color);
}

.listing img {
    object-fit: cover;
    height: 75px;
    width: 75px;
    border-radius: 5px;
    box-shadow: 0px 3px 0px 0px var(--primary-color);
}

.listing-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listing-text a {
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.listing-text a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

@media screen and (max-width: 900px) {
    .profile-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
    }
    .profile-left {
        border: none;
    }

    .profile-right {
        border:none;
        border-top: 1px solid var(--accent-gray);
        box-sizing: border-box;
        width: 100%;
    }

}