
body {
    margin: 0;
}

.navbar {
    font-family: Nunito;
    font-weight: bolder;
    font-size: 18px;
    color: white;
    display: flex;
    background-color: cadetblue;
    height: 5em ;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left img {
    cursor: pointer;
    width: 2em;
}

.searchbar {
    display: flex;
    margin-right: 5em;
    margin-left: 5em;
    flex-grow: 1;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 20px;
}

.searchbar input:nth-of-type(1){
    background-color: rgba(255,255,255,0) ;
    appearance: none;
    border: none;
    outline: none;
    background-size: contain;
    cursor: pointer;
    width: 2em;
    height: 2em;
    background-image: url("../images/searchicon.png");
}

.searchbar input:nth-of-type(2){
    flex-grow: 1;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: aliceblue;
}

