@font-face {
    font-family: 'Blackout';
    src: url('../fonts/Blackout\ Two\ AM.ttf') format('truetype');
}

:root {
    --primary-color: #352F44;
    --secondary-color: #5C5470;
    --accent-gray: #B9B4C7;
    --transparent:  rgba(255,255,255,0)
}

body {
    padding-top:50px;
    font-family: Inter;
    margin: 0;
    background-color: var(--accent-gray);
}

.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0%;
    display: flex;
    background-color: var(--primary-color);
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 50px 0px 50px;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

i,a {
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}

.logo {
    font-family: 'Blackout';
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 45px;
}

.searchbar {
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: var(--accent-gray);
    padding: 8px 14px 8px 10px;
    border-radius: 9999px;
    color: white;
    transition: all 0.5s ease-out;
}

.searchbar input {
    width: 0;
    font-weight: 500;
    border: none;
    outline: none;
    background: transparent;
    transition: all 0.5s ease-out;
}

.searchbar i {
    font-size: 20px;
}

.searchbar:hover {
    background-color: white;
    color: var(--primary-color);
}

.searchbar:hover input {
    width: 500px;
}

.menu {
    color: white;
    position: fixed;
    top: 50px;
    left: 0px;
    width:400px;
    height:700px;
    background-color: black;
    transform: translateX(-100%);
    transition: 0.5s ease;
}

#menulist {
    color: var(--accent-gray);
    cursor: pointer;
    font-size: 30px;
}

.open {
    transform: translateX(0);
}
