@font-face {
    font-family: 'Blackout';
    src: url('../fonts/Blackout\ Two\ AM.ttf') format('truetype');
}

:root {
    --primary-color: #352F44;
    --secondary-color: #5C5470;
    --hyperlink-color: #FAF0E6;
    --accent-gray: #B9B4C7;
    --transparent:  rgba(255,255,255,0)
}

body {
    padding-top:50px;
    font-family: Inter;
    margin: 0;
    background-color: var(--accent-gray);
}

.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0%;
    display: flex;
    background-color: var(--primary-color);
    overflow: auto;
    z-index: 999;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1120px;
    width: 100%;
    height: 100%;
    padding: 0px 50px 0px 50px;
}

.navbar-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 20px;
}

.navbar-right {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navbar-right li:active {
    transform: scale(0.99);
}

.navbar-right a {
    color: var(--hyperlink-color);
    background-color: var(--secondary-color);
    box-sizing: border-box;
    border: 3px solid var(--secondary-color);;
    border-radius: 9999px;
    padding: 3px 10px 3px 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: all 0.2s ease;
}

.navbar-right a:hover {
    color: var(--primary-color);
    background-image: linear-gradient(to bottom, var(--hyperlink-color), var(--secondary-color));
}

img#pfp {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

li,a {
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
}

.logo {
    font-family: 'Blackout';
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 45px;
}

.searchbar {
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: var(--accent-gray);
    padding: 8px 14px 8px 10px;
    border-radius: 9999px;
    color: white;
    transition: all 0.5s ease-out;
}

.searchbar input {
    width: 0;
    font-weight: 500;
    border: none;
    outline: none;
    background: transparent;
    transition: all 0.5s ease-out;
}

.searchbar i {
    font-size: 20px;
}

.searchbar:hover {
    background-color: white;
    color: var(--primary-color);
}

.searchbar:hover input {
    width: 500px;
}

.menuicons {
    position: relative;
}

#menulist,#menuclosed {
    position: absolute;
    cursor: pointer;
    transform: translateX(-50%) translateY(-50%);
    width: 40px;
    transition: all 0.5s ease;
}

#menulist {
    z-index: 1;
}

.dissapear {
    opacity: 0.25;
    scale: 0.5;
}

.menu {
    color: white;
    position: fixed;
    top: 50px;
    left: 0px;
    width:400px;
    height:700px;
    background-color: black;
    transform: translateX(-100%);
    transition: 0.5s ease;
}

.open {
    transform: translateX(0);
}

/* Content */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: var(--primary-color);
    text-shadow: 0px 0px 5px var(--secondary-color);
}

.featured {
    display: flex;
    max-width: 85%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--hyperlink-color), var(--secondary-color));
    flex-grow: 1;
    min-width: 250px;
    width: 20vw;
    max-width: 20vw;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: #5C5470;
    border-width: 3px;
    border-style: solid;
}

.imgbox {

    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    box-shadow: 0px 0px 4px #5C5470;
}

.imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 20px;
    color: var(--hyperlink-color);
    font-weight: bold;
    margin-bottom: 20px;
}

.small-text {
    margin: 0;
    font-size: 12px;
    color: var(--accent-gray);
}


/* Categorias */

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.category {
    position: relative;
    background-color: #5C5470;
    overflow: hidden;
    width: 100%;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 10px 15px 10px var(--primary-color);
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    scale: 1.2;
    z-index: 0;
}

.category-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 20rem;
    padding: 10px;
    font-size: 48px;
    font-weight: bold;
    z-index: 1;
    transition: all 0.2s ease;
    background: -webkit-linear-gradient(white, rgb(143, 13, 143));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.category-title:hover {
    background: -webkit-linear-gradient(#c2e9fb 51%,rgb(77, 1, 77));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


/* Page footer */

footer{
    width: 100%;
    background-color: var(--primary-color);
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer .logo{
    font-family: 'Blackout';
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 45px;
    text-decoration: none;
}
